AdminSidebar.css
.admin {
  height: 100vh;
  display: flex;
}

.admin .sider {
  width: 250px;
  height: 100vh;
  background-color: #112D4E;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow-y: auto;
}

.admin .logo {
  display: flex;
  flex-direction: column;
  align-items: center;   /* จัดให้อยู่ตรงกลางแนวแกน X */
  justify-content: center;
  padding: 20px 0;
}

.admin .logo img {
  width: 60px;          /* ปรับขนาดความกว้างของรูป */
  height: 60px;         /* ปรับขนาดความสูง */
  object-fit: contain;  /* ไม่บิดรูป */
  margin-bottom: 10px;  /* เว้นระยะกับข้อความ */
}


.admin .logo-circle {
  background: #3F72AF;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 auto 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.admin .logo-initial {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.admin .logo-text {
  color: #F9F7F7;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.admin .menu {
  background-color: transparent;
  font-weight: bold;
  color: #F9F7F7;
}

.admin .menu-item {
  font-size: 16px;
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  transition: all 0.3s ease;
  color: #DBE2EF;
}

.admin .menu-item:hover {
  font-size: 17px !important;
  color: #3F72AF !important;
  background-color: #f0f4ff !important;
}

.menu-item:hover .icon-style {
  color: #3F72AF !important;
}

/* ป้องกันตัวเลือกที่ถูกเลือกไว้ให้ไม่โดนกลบ */
.ant-menu-item-selected {
  font-weight: bold;
  color: #112D4E !important;
}

.admin .menu-item.ant-menu-item-selected {
  background-color: #F9F7F7 !important;
  color: #112D4E !important;
  font-weight: bold;
  border-left: 5px solid #3F72AF;
}

.admin .icon-style {
  font-size: 20px;
  margin-right: 10px;
  color: inherit;
}

.admin .menu-work {
  font-size: 18px;
  color: #DBE2EF;
}

.admin .menu-dashboard {
  font-size: 18px;
  color: #DBE2EF;
}